<%= form_with(model: current_game) do |form| %>
  <% if current_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_game.errors.count, "error") %> prohibited this current_game from being saved:</h2>

      <ul>
        <% current_game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label "Pick a Survivalist" %>
	<% if !Survivalist.first %>
		<%= link_to 'use default', add_default_survivalist_path(:user_id => current_user.id) %>
	<% else %>
		<%= form.collection_select :survivalist_id, Survivalist.order(:name), :id, :name, include_blank: false %>
	<% end %>
  </div>
  
  <div class="field">
    <%= form.label "Pick a Location" %>
	<%= form.collection_select :location_id, Location.order(:name), :id, :name, include_blank: false %>
  </div>

  <div class="actions">
    <%= form.submit "BEGIN" %>
  </div>
<% end %>
