<%= form_with(model: current_game) do |form| %>
  <% if current_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_game.errors.count, "error") %> prohibited this current_game from being saved:</h2>

      <ul>
        <% current_game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-sm-4">
	    <div class="field">
	      <%= form.label "Pick a Survivalist" %>
	  	<% if !Survivalist.first %>
	  		<%= link_to 'use default', add_default_survivalist_path(:user_id => current_user.id) %>
	  	<% else %>
	  		<%= form.collection_select :survivalist_id, Survivalist.order(:name), :id, :name, 
			{include_blank: false, :remote => true},  
			{:id =>"survivalist_selection", :style => "width:220px", :onchange => "updateSurvivalist();", :remote => true} %>
						
	  	<% end %>
	    </div>
	</div>
    <div class="col-sm-8">
      <div id="survivalist_selected">
	  </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
	    <div class="field">
	      <%= form.label "Pick a Location" %>
	  	<%= form.collection_select :location_id, Location.order(:name), :id, :name, 
			{include_blank: false},  {:id =>"location_selection", :style => "width:220px", :remote => true} %>
	    </div>
	</div>
    <div class="col-sm-8">
      <div id="location_selected">
	  </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "BEGIN" %>
  </div>
  
  
<% end %>

<script type='text/javascript'>
	function updateSurvivalist(id) {
		var elem = document.getElementById('survivalist_selected');
	    elem.replaceWith("<%= j render(:partial => 'survivalist') %>");
	}
</script>
  
  
