<%= form_with(model: current_game) do |form| %>
  <% if current_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_game.errors.count, "error") %> prohibited this current_game from being saved:</h2>

      <ul>
        <% current_game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-sm-4 text-end">
	    <div class="field">
	      <%= form.label "Pick a Survivalist" %>
	  	<% if !Survivalist.first %>
	  		<%= link_to 'use default', add_default_survivalist_path(:user_id => current_user.id) %>
	  	<% else %>
			<%=
  		  select_tag :survivalist_id, # name of selectbox
  		      options_from_collection_for_select(Survivalist.all, "id", "name"), # options
  		      :'data-remote' => 'true', # UJS
  		      :'data-url' => fetch_survivalist_path,
			  include_blank: true,
			  :class => "game_dropdown"
			%>
			
	  	<% end %>
	    </div>
		
	</div>
    <div class="col-sm-8">
      <div id="survivalist_selected">
	  </div>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-sm-4 text-end">
	    <div class="field">
	      <%= form.label "Pick a Location" %>
		  
			<%=
  		  select_tag :location_id, # name of selectbox
  		      options_from_collection_for_select(Location.all, "id", "name"), # options
  		      :'data-remote' => 'true', # UJS
  		      :'data-url' => fetch_location_path,
			  include_blank: true,
			  :class => "game_dropdown"
			%>

	    </div>
	</div>
    <div class="col-sm-8">
      <div id="location_selected">
	  </div>
    </div>
	

  </div>
  <!-- item selection -->
  <div class="row mt-4">
    <div class="col-sm-4 text-end">
	    <div class="field">
	      <%= form.label "Pick an item set" %>
		  
			<%=
  		  select_tag :collection_id, # name of selectbox
  		      options_from_collection_for_select(Collection.starting_collections, "id", "name"), # options
  		      :'data-remote' => 'true', # UJS
  		      :'data-url' => fetch_starting_possessions_path,
			  include_blank: true,
			  :class => "game_dropdown"
			%>

	    </div>
	</div>
    <div class="col-sm-8">
      <div id="collection_selected">
	  </div>
    </div>
	

  </div>
  
  <div class="row">
    <div class="col-sm-4 text-end">
	    <div class="field">
	      <%= form.label "How long is your challenge?" %>
		  
			<%=
  		  select_tag :max_day_value, # name of selectbox
		  	options_for_select([['10 days', 10], ['15 days', 15], ['30 days', 30], ['45 days', 45], ['60 days', 60]]),
			:class => "game_dropdown"
			%>

	    </div>
	</div>
    <div class="col-sm-8">
      <div id="action_select">
	      <div class="col-sm-4">
	    	  <div class="actions">
	      	  <%= form.submit "BEGIN" %>
	    	  </div>
	      </div>
	  </div>
    </div>
	

  </div>
  
  <div class="row">
  	<div class="col-sm-12">
		<hr/>
    </div>
  </div>

  
<% end %>

  
  
