
<h1>Current Games</h1>
<div class="container mt-4 mb-4 w-50">
	
    <div class="row">
      <div class="col">
            Sig
          </div>
          <div class="col">
            IP
          </div>
          <div class="col">
            Links
          </div>
      </div>
    </div>

    <% @current_games.each do |current_game| %>
      <div class="row">
		<div class="col">
        <%= current_game.sig %>
		</div>
		<div class="col">
        <%= current_game.ip %>
		</div>
		<div class="col">
        <%= link_to 'Show', current_game %>
        <%= link_to 'Edit', edit_current_game_path(current_game) %>
        <%= link_to 'Destroy', current_game, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
      </div>
    <% end %>


</div>

<%= link_to 'New Current Game', new_current_game_path %>
