<p id="notice"><%= notice %></p>

<p>
  <strong>Sig:</strong>
  <%= @current_game.sig %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @current_game.ip %>
</p>

<%= link_to 'Edit', edit_current_game_path(@current_game) %> |
<%= link_to 'Back', current_games_path %>
