<p id="notice"><%= notice %></p>

<p>
  <strong>Survivalist</strong>
  <%= @current_game.survivalist.name %>
</p>

<%= link_to 'Edit', edit_current_game_path(@current_game) %> |
<%= link_to 'Back', current_games_path %> |
<%= link_to 'Add Day Event', days_path %>
