<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @requirement.amount %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @requirement.resource_id %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
