<p id="notice"><%= notice %></p>

<h1>Possessions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bonus</th>
      <th>Current game</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @possessions.each do |possession| %>
      <tr>
        <td><%= possession.name %></td>
        <td><%= possession.bonus %></td>
        <td><%= possession.current_game_id %></td>
        <td><%= link_to 'Show', possession %></td>
        <td><%= link_to 'Edit', edit_possession_path(possession) %></td>
        <td><%= link_to 'Destroy', possession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Possession', new_possession_path %>
