<p id="notice"><%= notice %></p>

<h1>Days</h1>

<div class="container mt-4 mb-4 w-50">
	
    <div class="row">
      <div class="col">
            Hour
          </div>
          <div class="col">
            Event
          </div>
          <div class="col">
            Links
          </div>
      </div>
    </div>

    <% @days.each do |day| %>
      <div class="row">
		<div class="col">
        <%= day.hour %>
		</div>
		<div class="col">
        <%= day.event.name %>
		</div>
		<div class="col">
        <%= link_to 'Show', day %>
        <%= link_to 'Edit', edit_day_path(day) %>
        <%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
      </div>
    <% end %>


</div>


<br>

<%if !Current.user.latest_game.nil? %><%= link_to 'New Day', new_day_path %><% end %>
