<% location = @data_from_selected_location!="" ? Location.find(@data_from_selected_location) : "none" %>
<% if location=="none" %>
<div class="row">
  <div class="col-8">
    <div class="row">
		Please select a location.
	</div>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-10"><h3><%= location.name %></h3></div>
    </div>
    <div class="row">
      <div class="col-2 text-start">Climate</div>
      <div class="col-8"><%= location.climate.name %></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8"><hr/></div>
    </div>
    <div class="row">
      <div class="col-2 text-start">Animals</div>
      <div class="col-8"><%= location.animals.map {|a| a.name}.join(" ") %></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8"><hr/></div>
    </div>
    <div class="row">
      <div class="col-2 text-start">Location</div>
      <div class="col-8"><%= location.description %></div>
    </div>
  </div>
  <div class="col-2">
	  <div id="image"><%= image_tag "locations/#{location.image_path}.png", size: "140x140" %>
	  </div>
  </div>
</div>
<% end %>