<div class="container-scroller">
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          
          <div class="row">
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">Survivalist</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <div class="mx-auto"><%= image_tag "survivalists/#{@current_game.survivalist.image_path}.png", size: "160x160" %></div>
                  </div>  
                  <p class="mb-0 mt-2"><%= @current_game.survivalist.name %></p>
				  <p class="mb-0 mt-2">Current temp: <%= @current_game.temp %>°</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">DAY</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mx-auto"><%= @current_game.latest_day.num %></h3>
                  </div>  
                  <p class="mb-0 mt-2"><small>(of <%= @current_game.maxdays %> days)</small></p>
				  <p><hr/></p>
                  <p class="card-title text-md-center text-xl-left">HOUR</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
					<% hour_translation = translate_hour(@current_game.latest_day.hour) %><%= @current_game.latest_day.hour %>
                    <h3 class="mx-auto"><%= hour_translation[0] %></h3>
				  </div> 
					<p class="mb-0 mt-2"><small><%= hour_translation[1] %></small></p>
                </div>
              </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">MOOD</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mx-auto"><%= @current_game.mood %></h3>
                  </div>  
                  <p class="mb-0 mt-2"><small>(<%= @current_game.mood_description %>)</small></p>
				  <p><hr/></p>
                  <p class="card-title text-md-center text-xl-left">HUNGER</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mx-auto"><%= @current_game.hunger %></h3>
                  </div>
				  <p class="mb-0 mt-2"><small>(<%= @current_game.hunger_description %>)</small></p>
                </div>
              </div>
            </div>
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">TASKS</p>
                  <%= render(:partial => 'cards/tasks_for_dash') %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Tasks Completed Today</p>
                  <%= render(:partial => 'cards/tasklist_for_dash') %>
                  <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                </div>
                
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card border-bottom-0">
                <div class="card-body pb-0">
                  <p class="card-title">Status</p>
				  <div class="mb-5"><%= render(:partial => 'cards/possession_list_dash') %></div>
				  <div class="mb-5"><%= render(:partial => 'cards/stash_list_dash') %></div>
                  <div class="d-flex flex-wrap mb-5"><%= render(:partial => 'cards/location_dash') %></div>
                </div>
                
              </div>
            </div>
          </div>

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Made by Black Lake Media</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Game design by <a href="https://axel.me">Krister Axel</a></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->