<% game = CurrentGame.find(game_id) %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <%= image_tag "promo/loser.png" %>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
			<p>You made it to day <%= game.maxdays %>.</p>
			<p>Your hunger score was <%= game.hunger %>.</p>
			<p>Your mood score was <%= game.mood %>.</p>
        </div>
    </div>
</div>


<%= link_to "Start a new game", start_new_game_path %> 