<p id="notice"><%= notice %></p>

<h1>Day Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Num</th>
      <th>Day</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @day_tasks.each do |day_task| %>
      <tr>
        <td><%= day_task.num %></td>
        <td><%= day_task.day_id %></td>
        <td><%= day_task.event_id %></td>
        <td><%= link_to 'Show', day_task %></td>
        <td><%= link_to 'Edit', edit_day_task_path(day_task) %></td>
        <td><%= link_to 'Destroy', day_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Day Task', new_day_task_path %>
