<%= form_with(model: project_requirement) do |form| %>
  <% if project_requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_requirement.errors.count, "error") %> prohibited this project_requirement from being saved:</h2>

      <ul>
        <% project_requirement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id %>
  </div>

  <div class="field">
    <%= form.label :requirement_id %>
    <%= form.text_field :requirement_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
