<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Climate:</strong>
  <%= @location.climate_id %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @location.collection_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
