<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Survivable</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
	<header class="container mt-4 mb-4">
	  <a href="/">
	    <%= image_tag 'SURVIVABLE-1200.png', class: 'mw-100' %>
	  </a>
	</header>
	<div class="container mt-4 mb-4">
		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>
	</div>
	<div class="container mt-4 mb-4">
	<%= yield %>
	</div>
	<footer class="page-footer font-small blue pt-4">
	    <!-- Footer Links -->
	     <div class="container-fluid text-center text-md-left">

	       <!-- Grid row -->
	       <div class="row">

	         <!-- Grid column -->
	         <div class="col-md-6 mt-md-0 mt-3">
				 
				 <% if current_user %> logged in as: <%= current_user.email %> |
				 	Admin: <%= current_user.admin? %>
				 <% end %>
				 
			 </div>
		  </div>
		</div>
	</footer>
  </body>
</html>